{
    "schemes": [
        "http",
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "The responses of the open api in swagger focus on the data field rather than the code and the message fields",
        "title": "Rainbow-API",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "api.nftrainbow.xyz",
    "basePath": "/v1",
    "paths": {
        "/contracts/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the contract list containing the contracts deployed through the specified app.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Obtain contract list",
                "operationId": "ListContracts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.ContractTaskQueryResult"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Deploy a ERC721 or ERC1155 contract.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Deploy contract",
                "operationId": "DeployContract",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "contract_info",
                        "name": "contract_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.ContractDeployDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Contract"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/contracts/detail/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Contract info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Contract detail",
                "operationId": "GetContractInfo",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Contract"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/contracts/{address}/sponsor": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the sponsor of the specified contract according to address.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Query sponsor",
                "operationId": "GetContractSponsorInfo",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "chain",
                        "name": "chain",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.SponsorInfo"
                        }
                    },
                    "400": {
                        "description": "Invalid address",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Set the sponsor for a specified contract according to the address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Set sponsor",
                "operationId": "SetContractSponsor",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid address",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/files/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the file list containing the info of the files uploaded in the specified app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Files"
                ],
                "summary": "Obtain file list",
                "operationId": "ListFiles",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.FilesQueryResult"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Upload a file which can be a video, an image and so on",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Files"
                ],
                "summary": "Upload file",
                "operationId": "UploadFile",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "uploaded file",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.UploadFilesResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/files/oss": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Upload a file to OSS, which can be a video, an image and so on",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Files"
                ],
                "summary": "Upload file to OSS",
                "operationId": "UploadFileToOss",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "uploaded file",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.UploadFilesResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "description": "Login the app to get the JWT according to the app_id and app_secret",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Login"
                ],
                "summary": "App login",
                "parameters": [
                    {
                        "type": "string",
                        "description": "app_id",
                        "name": "app_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "app_secret",
                        "name": "app_secret",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "correct response",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "40101": {
                        "description": "Internal error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/metadata/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the metadata list containing the info of the metadata created in the specified app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Metadata"
                ],
                "summary": "Obtain metadata list",
                "operationId": "ListMetadatas",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.ExposedMetadataQueryResult"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create NFT metadata by providing the info including name, description and so on",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Metadata"
                ],
                "summary": "Create NFT metadata",
                "operationId": "CreateMetadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "metadata_info",
                        "name": "metadata_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.MetadataDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.ExposedMetadata"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/metadata/{metadata_id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Query the metadata according to metadata_id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Metadata"
                ],
                "summary": "Query metadata",
                "operationId": "GetMetadatInfo",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "metadata_id",
                        "name": "metadata_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.ExposedMetadata"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/mints/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the NFT list containing the NFTs minted in the specified app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Obtain NFT list",
                "operationId": "ListMints",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTaskQueryResult"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Mint a NFT by providing a metadata url",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Mint NFT",
                "operationId": "CustomMint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "custom_mint_dto",
                        "name": "custom_mint_dto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.CustomMintDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/mints/customizable/batch": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Mint several NFTs once",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Batch Mint NFTs",
                "operationId": "BatchCustomMint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "custom_mint_batch_dto",
                        "name": "custom_mint_batch_dto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.CustomMintBatchDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.MintTask"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/mints/easy/files": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Mint a NFT by uploading a file which can be a video, image and so on",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Mint NFT with file",
                "operationId": "EasyMintByFile",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "file",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "chain",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "description",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "mint_to_address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/mints/easy/urls": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Mint a NFT by providing a file url to create the metadata",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Mint NFT with metadata",
                "operationId": "EasyMintByMetadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "easy_mint_meta_info",
                        "name": "easy_mint_meta_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.EasyMintMetaDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/mints/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get NFT detail info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Mint NFT detail",
                "operationId": "GetMintDetail",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/refresh_token": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Obtain a new JWT",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Login"
                ],
                "summary": "Refresh JWT",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "correct response",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "40101": {
                        "description": "Internal error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/transfers/": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the NFT list containing the transferred NFT information.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transfers"
                ],
                "summary": "Obtain the transferred NFTs list",
                "operationId": "ListTransfer",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.TransferTaskQueryResult"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/transfers/customizable": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Transfer NFT by admin",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transfers"
                ],
                "summary": "Transfer NFT",
                "operationId": "TransferNft",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "transfer_dto",
                        "name": "transfer_dto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.TransferDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.TransferTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/transfers/customizable/batch": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Transfer several NFTs once",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transfers"
                ],
                "summary": "Batch Transfer NFTs",
                "operationId": "BatchTransferNft",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "transfer_batch_dto",
                        "name": "transfer_batch_dto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.TransferBatchDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.TransferTask"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/transfers/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get NFT Transfer detail info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transfers"
                ],
                "summary": "Transfer NFT detail",
                "operationId": "GetTransferDetail",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.TransferTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "gorm.DeletedAt": {
            "type": "object",
            "properties": {
                "time": {
                    "type": "string"
                },
                "valid": {
                    "description": "Valid is true if Time is not NULL",
                    "type": "boolean"
                }
            }
        },
        "models.Contract": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "app_id": {
                    "type": "integer"
                },
                "base_uri": {
                    "type": "string"
                },
                "chain_id": {
                    "type": "integer"
                },
                "chain_type": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "hash": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "owner_address": {
                    "type": "string"
                },
                "royalties_address": {
                    "type": "string"
                },
                "royalties_bps": {
                    "type": "integer"
                },
                "status": {
                    "description": "0-pending, 1-success, 2-failed",
                    "type": "integer"
                },
                "symbol": {
                    "type": "string"
                },
                "tokens_burnable": {
                    "type": "boolean"
                },
                "tokens_transferable": {
                    "type": "boolean"
                },
                "transfer_cooldown_time": {
                    "type": "integer"
                },
                "tx_id": {
                    "type": "integer"
                },
                "type": {
                    "description": "1-ERC721, 2-ERC1155",
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.ContractTaskQueryResult": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Contract"
                    }
                }
            }
        },
        "models.ExposedFile": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "file_name": {
                    "type": "string"
                },
                "file_size": {
                    "type": "integer"
                },
                "file_type": {
                    "type": "string"
                },
                "file_url": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.ExposedMetadata": {
            "type": "object",
            "required": [
                "description",
                "image",
                "name"
            ],
            "properties": {
                "attributes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.ExposedMetadataAttribute"
                    }
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "description": {
                    "type": "string"
                },
                "external_link": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "image": {
                    "type": "string"
                },
                "metadata_id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            }
        },
        "models.ExposedMetadataAttribute": {
            "type": "object",
            "properties": {
                "attribute_name": {
                    "type": "string"
                },
                "display_type": {
                    "type": "string"
                },
                "trait_type": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "models.ExposedMetadataQueryResult": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.ExposedMetadata"
                    }
                }
            }
        },
        "models.FilesQueryResult": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.ExposedFile"
                    }
                }
            }
        },
        "models.MintTask": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "app_id": {
                    "type": "integer"
                },
                "chain_id": {
                    "type": "integer"
                },
                "chain_type": {
                    "type": "integer"
                },
                "contract": {
                    "type": "string"
                },
                "contract_type": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "error": {
                    "type": "string"
                },
                "hash": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "mint_to": {
                    "type": "string"
                },
                "mint_type": {
                    "type": "integer"
                },
                "status": {
                    "description": "0-pending, 1-success, 2-failed",
                    "type": "integer"
                },
                "token_id": {
                    "type": "string"
                },
                "token_uri": {
                    "type": "string"
                },
                "tx_id": {
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.MintTaskQueryResult": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.MintTask"
                    }
                }
            }
        },
        "models.TransferTask": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "app_id": {
                    "type": "integer"
                },
                "chain_id": {
                    "type": "integer"
                },
                "chain_type": {
                    "type": "integer"
                },
                "contract": {
                    "type": "string"
                },
                "contract_type": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "error": {
                    "type": "string"
                },
                "hash": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "status": {
                    "description": "0-pending, 1-success, 2-failed",
                    "type": "integer"
                },
                "token_id": {
                    "type": "string"
                },
                "transfer_from": {
                    "type": "string"
                },
                "transfer_to": {
                    "type": "string"
                },
                "tx_id": {
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.TransferTaskQueryResult": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.TransferTask"
                    }
                }
            }
        },
        "multipart.FileHeader": {
            "type": "object",
            "properties": {
                "filename": {
                    "type": "string"
                },
                "header": {
                    "$ref": "#/definitions/textproto.MIMEHeader"
                },
                "size": {
                    "type": "integer"
                }
            }
        },
        "rainbow_errors.RainbowErrorDetailInfo": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "services.ContractDeployDto": {
            "type": "object",
            "required": [
                "chain",
                "name",
                "owner_address",
                "symbol",
                "type"
            ],
            "properties": {
                "base_uri": {
                    "type": "string"
                },
                "chain": {
                    "type": "string",
                    "enum": [
                        "conflux",
                        "conflux_test"
                    ]
                },
                "name": {
                    "type": "string"
                },
                "owner_address": {
                    "type": "string"
                },
                "royalties_address": {
                    "type": "string"
                },
                "royalties_bps": {
                    "type": "integer"
                },
                "symbol": {
                    "type": "string"
                },
                "tokens_burnable": {
                    "type": "boolean"
                },
                "tokens_transferable": {
                    "type": "boolean"
                },
                "transfer_cooldown_time": {
                    "type": "integer"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "erc721",
                        "erc1155"
                    ]
                }
            }
        },
        "services.CustomMintBatchDto": {
            "type": "object",
            "required": [
                "chain",
                "contract_address",
                "contract_type",
                "mint_items"
            ],
            "properties": {
                "chain": {
                    "type": "string",
                    "enum": [
                        "conflux",
                        "conflux_test"
                    ]
                },
                "contract_address": {
                    "type": "string"
                },
                "contract_type": {
                    "type": "string",
                    "enum": [
                        "erc721",
                        "erc1155"
                    ]
                },
                "mint_items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.MintItemDto"
                    }
                }
            }
        },
        "services.CustomMintDto": {
            "type": "object",
            "required": [
                "chain",
                "contract_address",
                "contract_type",
                "metadata_uri",
                "mint_to_address"
            ],
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "chain": {
                    "type": "string",
                    "enum": [
                        "conflux",
                        "conflux_test"
                    ]
                },
                "contract_address": {
                    "type": "string"
                },
                "contract_type": {
                    "type": "string",
                    "enum": [
                        "erc721",
                        "erc1155"
                    ]
                },
                "metadata_uri": {
                    "type": "string"
                },
                "mint_to_address": {
                    "type": "string"
                },
                "token_id": {
                    "type": "string"
                }
            }
        },
        "services.EasyMintMetaDto": {
            "type": "object",
            "required": [
                "chain",
                "description",
                "file_url",
                "mint_to_address",
                "name"
            ],
            "properties": {
                "chain": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "file_url": {
                    "type": "string"
                },
                "mint_to_address": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "services.MetadataDto": {
            "type": "object",
            "required": [
                "description",
                "image",
                "name"
            ],
            "properties": {
                "attributes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.ExposedMetadataAttribute"
                    }
                },
                "description": {
                    "type": "string"
                },
                "external_link": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "services.MintItemDto": {
            "type": "object",
            "required": [
                "metadata_uri",
                "mint_to_address"
            ],
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "metadata_uri": {
                    "type": "string"
                },
                "mint_to_address": {
                    "type": "string"
                },
                "token_id": {
                    "type": "string"
                }
            }
        },
        "services.SponsorInfo": {
            "type": "object",
            "properties": {
                "collateral_sponsor": {
                    "type": "string"
                },
                "collateral_sponsor_balance": {
                    "type": "string"
                },
                "gas_sponsor": {
                    "type": "string"
                },
                "gas_sponsor_balance": {
                    "type": "string"
                },
                "gas_upper_bound": {
                    "type": "string"
                },
                "is_all_white_listed": {
                    "type": "boolean"
                }
            }
        },
        "services.TransferBatchDto": {
            "type": "object",
            "required": [
                "chain",
                "contract_address",
                "contract_type",
                "items"
            ],
            "properties": {
                "chain": {
                    "type": "string",
                    "enum": [
                        "conflux",
                        "conflux_test"
                    ]
                },
                "contract_address": {
                    "type": "string"
                },
                "contract_type": {
                    "type": "string",
                    "enum": [
                        "erc721",
                        "erc1155"
                    ]
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.TransferItemDto"
                    }
                }
            }
        },
        "services.TransferDto": {
            "type": "object",
            "required": [
                "chain",
                "contract_address",
                "contract_type",
                "token_id",
                "transfer_from_address",
                "transfer_to_address"
            ],
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "chain": {
                    "type": "string",
                    "enum": [
                        "conflux",
                        "conflux_test"
                    ]
                },
                "contract_address": {
                    "type": "string"
                },
                "contract_type": {
                    "type": "string",
                    "enum": [
                        "erc721",
                        "erc1155"
                    ]
                },
                "token_id": {
                    "type": "string"
                },
                "transfer_from_address": {
                    "type": "string"
                },
                "transfer_to_address": {
                    "type": "string"
                }
            }
        },
        "services.TransferItemDto": {
            "type": "object",
            "required": [
                "token_id",
                "transfer_from_address",
                "transfer_to_address"
            ],
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "token_id": {
                    "type": "string"
                },
                "transfer_from_address": {
                    "type": "string"
                },
                "transfer_to_address": {
                    "type": "string"
                }
            }
        },
        "services.UploadFilesResponse": {
            "type": "object",
            "properties": {
                "file_name": {
                    "type": "string"
                },
                "file_size": {
                    "type": "integer"
                },
                "file_type": {
                    "type": "string"
                },
                "file_url": {
                    "type": "string"
                }
            }
        },
        "textproto.MIMEHeader": {
            "type": "object",
            "additionalProperties": {
                "type": "array",
                "items": {
                    "type": "string"
                }
            }
        }
    }
}